/*body {
	font-family: 'Serif';
}

h1, h2, h3 {
	font-family: 'Sans-serif';
	font-weight: normal;
}

.remark-code, .remark-inline-code {
	font-family: 'Monospaced';
}*/

.red {
	color: red;
}

.bold {
	font-weight: bold;
}

.footnote {
	font-size: smaller;
}

.simple {}
